import { defineConfig } from 'vite';
import laravel from 'laravel-vite-plugin';
import autoprefixer from "autoprefixer";

export default defineConfig({

    build: {
        emptyOutDir: true,
    },

    plugins: [

        laravel({
            input: [
                'themes/yourtheme/src/app.scss',
                'themes/yourtheme/src/app.js',
            ],
            refresh: { paths: [
                'themes/yourtheme/templates/**',
            ]},
        })
    ],

    css: {
        postcss: {
            plugins: [
                autoprefixer,
            ],
        }
    },

});
