---
Name: vite
---

Swordfox\Vite:
  assetsImageFolder: themes/yourtheme/src/images
  # extra_requirements_css:
  #   - themes/yourtheme/cms/cms.scss
  # editor_css:
  #   - themes/yourtheme/cms/wysiwyg.scss # currently only for `npm run build`
